/*  Used to manage your own mobile styles  */
/*  iPhone-horizontal */
@media screen and (max-width: 630px) {

}
/*  iPhone-vertical */
@media screen and (max-width: 480px) {

}

/*  Used to manage your own custom styles  */
#page {
    overflow: hidden;
}

/***** Drupal Overrides *****/
ul li.expanded,
ul li.collapsed,
ul li.leaf {
    list-style-image: none;
    list-style-type: none;
}

.tabs ul {
    margin: 10px 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
}

.tabs li {
    display: inline;
    padding: 5px 10px;
    background: #888;
    background: rgba(0, 51, 102, 0.4);
    border: 1px solid #A4AFC4
}

.tabs a,
.tabs a:visited,
.tabs a:link {
    color: #fff;
    border-bottom: none;
}

.tabs a:hover {
    text-decoration: underline;
}

/***** Unimelb Overrides *****/
body.custom {
    background: url("../images/backgrounds/custom.jpg") top center repeat-x;
}

body.custom-home {
    background: url("../images/backgrounds/custom-home.jpg") top center repeat-x;
}

.header {
    margin-bottom: 35px;
}

body .main-block,
body.heading-block .main-block {
    background-image: none;
    background-color: #fff;
    padding-bottom: 20px;
}

.main {
    background-image: none;
    padding-top: 0;
}

.main h3 {
    text-decoration: none;
}

#page-title {
    font-size: 24px;
    font-weight: bold;
    color: #036;
}

.nav {
    float: none;
    margin-top: 0;
    margin-bottom: 20px;
}

.nav ul {
    margin-left: 0;
}

.nav ul li .more {
    top: 0;
}

.nav ul li.active-trail .more {
    display: none;
}

.nav ul li.active-trail ul {
    display: block;
}

.nav ul li a.active {
    font-weight: bold;
    font-style: italic;
}

.aside {
    margin-top: 20px;
}

ul.news .timestamp {
    width: 80px;
}


/***** Menu *****/
#top-menu {
    position: relative;
    width: 980px;
    z-index: 3;
    background-color: #214f80;
    /*background: rgba(0, 51, 102, 0.4);    */
    margin-bottom: 10px;
}

#top-menu ul,
#top-menu li {
    margin: 0;
    padding: 0;
}

#top-menu a,
#top-menu a:visited {
    color: #fff;
}

#top-menu > ul.menu {
    overflow: hidden;
/*    width: 940px;
    margin: 0 0 15px 16px;*/
/*    background: #758CAA;
    background: rgba(0, 51, 102, 0.4);*/
}

#top-menu > ul.menu > li {
    float: left;
}

#top-menu > ul.menu > li > a {
    display: block;
    padding: 5px 17px;
    border-right: 1px solid #a4aFc4;
}

#top-menu > ul.menu > li.last > a {
    border-right: none;
}

#top-menu > ul.menu > li > a:hover,
#top-menu > ul.menu > li > a.mm-item-link-hover,
#top-menu > ul.menu > li > a.active-trail {
    opacity: 0.8;
}

#top-menu > ul.menu > li > a.active-trail {
    color: #DFE9F4;
}

#top-menu > ul.menu > li > ul.menu {
    position: absolute;
    display: none;
    z-index: 9;
    margin: 0 0 0 -15px;
    background-color: #fff;
    border: 1px solid #546891;
/*    min-width: 300px;*/
    padding-bottom: 10px;
}

#top-menu > ul.menu > li > ul.menu.full-width {
    width: 600px;
}

#top-menu > ul.menu > li > ul.menu > li {
    float: left;
/*    width: 280px;*/
    padding: 0 10px;
}

#top-menu > ul.menu > li > ul.menu > li.odd {
    float: right;
}

#top-menu > ul.menu > li ul.menu {
    margin-left: 5px;
}

#top-menu > ul.menu > li > ul.menu a {
    display: block;
    padding: 3px 0;
    color: #758CAA;
}

#top-menu > ul.menu > li > ul.menu a:hover {
    /*background-color: #DCE3EA;*/
    text-decoration: underline;
    cursor: pointer;
}

#top-menu > ul.menu > li > ul.menu a.active-trail {
    color: rgba(0, 51, 102, 0.9);
}

#top-menu > ul.menu > li > ul.menu > li > a {
    font-weight: bold;
}

#top-menu > ul.menu > li > ul.menu > li > ul.menu > li > a {
    font-size: 88%;
    margin-left: 3px;
    line-height: 12px;
}

/***** Form Overrides *****/
form label {
    text-align: left;
}

form legend {
    text-indent: 0;
    padding: 0 5px;
    font-weight: bold;
}

form .fieldset-wrapper {
    padding: 0 10px
}

.banner img {
    width: 100%;
    height: 100%;
}

.banner .banner-text p {
    font-size: 28px;
    font-weight: normal;
    padding: 5px 0px;
    color: white;
    line-height: 1.3;
    letter-spacing: 1px;
    border: 0px;
}


/***** Views *****/
.view.view-page .views-row {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #5D7C99;
}

.view .node h2 {
    font-size: 1.2em;
    font-weight: bold;
}

.view .node h2 a {
    border-bottom: none;
}

/***** Node *****/
.node .submitted {
    display: none;
}

.node .field-type-date {
    padding-bottom: 10px;
    font-weight: bold;
}

.node .field-type-image {
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
}

.node .field-type-image a {
    border-bottom: none;
}


/***** Menu Overrides *****/
#top-menu > ul.menu > li > ul.menu > li {
    float: none;
}


/***** Unimelb Home Page Styles *****/
body.front .main h2,
body.front .main h3,
body.front .aside h2 {
	border-bottom: 1px solid #25467B;
	padding-bottom: 2px;
	margin-bottom: 6px;
}

body.front .main .page-preview ul {
	min-height: 180px;
}

body.front .main a {
	border-bottom: none;
}

body.front .main a:hover {
	text-decoration: underline;
}

body.front .main h2,
.aside h2 {
	font-size: 18px;
	color: #4C5E71;
}


/***** Events Views *****/
.view {
	padding-top: 5px;
}

.view .views-row {
	border-bottom: 1px solid #BFCCE2;
	padding-bottom: 8px;
	margin-bottom: 8px;
}
.view .date-display-single,
.view .views-field-title a,
.view .date-display-single,
.view .views-field-title {
	width: 190px;
	clear: both;
	display: block;
}

.view .views-field-title a:hover {
	text-decoration: underline;
}

.view .date-display-single {
	color: #959595;
	font-size: 88%;
}

.more-link {
    text-align: left;
}

#main-content {
	margin-top:20px;
}


/***** News Views *****/
.view-news-item-mro-view .views-field-title {
	width: 100% !important;
}

.view-news-item-mro-view .views-field-title a {
	width: 100% !important;
}

.view-important-grant-dates a {
	font-weight:bold;
}

.latest-news-featured a img {
	box-shadow: 2px 2px 2px #CCCCCC;
}