/***** News Views *****/
.view-news-item-mro-view.latest-news-featured > .view-content {
    overflow: hidden;    
    border-bottom: 1px solid #BFCCE2;
}

.view-news-item-mro-view.latest-news-featured > .view-content .views-row {
    float: left;
    width: 220px;
    border-bottom: none;
}

.view-news-item-mro-view.latest-news-featured > .view-content .views-row-first {
    margin-right: 10px;
}

.view-news-item-mro-view.latest-news-featured > .view-content .views-row-last {
    margin-left: 5px;
}


.pullquote {
	font-size: 18px;
}

blockquote a {
    border: 0 none;
    clear: both !important;
    color: #003366;
    font-size: inherit;
    font-weight: normal;
    margin-top: 0px;
    position: relative;
    right: 0px;
    top: 0px;
    float:inherit !important;
}

.main a {text-decoration: none;}

blockquote a {
	border-bottom:0 none !important;
}

blockquote {
	padding:0 0 10px 0 !important;
}

.latest-news-featured .view-footer a {
    background: url("/sites/default/files/icon_tag.png") no-repeat scroll left 3px transparent;
    display: block;
    line-height: 1.1em;
    padding-bottom: 0.5em;
    padding-left: 22px;
    width:95% !important;
}

.view .date-display-single {
	color:inherit;
}

.frmBold {
	font-weight:bold;
}

.frmTable h3 a {
	text-decoration: none;
	border-bottom: 0 solid transparent;
}

.frmTable h3 {
	height: 3.5em;
}

table.frmTable tbody tr:nth-child(2n+1) {
    background: none repeat scroll 0 0 transparent;
}
table.frmTable tr, table.frmTable th {
    border: 0px solid transparent;
    padding: 10px;
}

a.frmMail {
	font-size:1.15em;
	text-decoration: none;
	border-bottom: 0 solid transparent;
}

.frmBox {
background:none repeat scroll 0 0 #EEF7FF;
	min-height:120px;
	border-radius: 4px;
	padding:0px 15px 10px;
	box-shadow: 2px 2px 2px #bbb;
}

.frmTel:before {
	width: 15px;
    content: " ";
    background-image: url("/sites/default/files/phone.png");
    height:15px;
    display:block;
    float:left;
    margin-right: 7px;
}

.frmTel {
	font-size: 1.2em;
	color: #5982AB;
}

.frmMail:before {
	width: 15px;
    content: " ";
    background-image: url("/sites/default/files/email.png");
    height:15px;
    display:block;
    float:left;
    margin-right: 7px;
}

.frmTable td {
	padding:7px;
}

#node-1271 a {
	border-bottom: 0 solid transparent;
}

#node-1271 h2 {
    font-weight: normal;
    padding-left:10px;
}

#node-1271 h4 {
	background-color: #DFE9F4;
    font-size: 16px;
    font-weight: normal;
    padding: 11px 10px;
    border-left: 1px solid #a1b8cf;
    border-right: 1px solid #a1b8cf;
    border-top: 1px solid #a1b8cf;
    font-size:1.4em;
}

#node-1271 p {
	background-color: #F3F7FB;
    margin-bottom: 8px;
    padding: 10px;
    border-left: 1px solid #a1b8cf;
    border-right: 1px solid #a1b8cf;
    border-bottom: 1px solid #a1b8cf;
    
}

.header .hgroup h2 {
    color: #FFFFFF;
    line-height: 1;
    padding: 0px 0 12px;
    text-shadow: 0.5px 0.5px 4px #002244;
}

#node-1271 table {
	width:100%;
}

#node-1271 td {
	width:50%;
}

#node-1271 h4, #node-1271 p {
	min-height:48px;
}

#node-1271 table tbody tr:nth-child(2n+1) {
    background: none repeat scroll 0 0 transparent;
    
}

#node-1271 table tbody tr {
	border:0px solid transparent;
}

#node-1271 hr.visible {
	padding:0px !important;
}

.resource-box {
	background-color:#EEF7FF; 
	margin-bottom:20px; 
	padding:5px 15px;
	border-radius: 5px 5px 5px 5px;
}

.resource-box a {
	text-decoration: none;
	border-bottom: 0px solid transparent;
}

#mock-home table tr,
.no-table table tr {
	border:0px solid transparent;
}

#mock-home table tbody tr:nth-child(2n+1),
.no-table table tbody tr:nth-child(2n+1) {
    background: none repeat scroll 0 0 transparent;
}

#mock-home h1 {
	background-color: #EEF7FF;
    border-radius: 0 35px 0 0;
    color: #003366;
    font-size: 2em;
    font-weight: normal;
    padding: 5px 15px;
}

.mock-head {
	padding:10px 0px 0px;
}

.mock-head td {
	padding:10px 0px 0px 10px;
	line-height:1.7em;
}

.mock-row td {
	padding:0px 10px 10px;
}

.mock-list li {
	font-size:1em;
	line-height: 1.2em;
	color:#003366;
}

.mock-list li {
	list-style: none outside url("/sites/default/files/list_icon.png");
}

.mock-image img {
	padding:0px;
}

.mock-image td {
	padding:0px 10px;
}

.mock-image h2 {
	min-height:1.5em;
	line-height:1.5em;
}

ul.mock-list {
	border-top:1px solid #eee;
	padding:10px 0 0 20px;
	margin-bottom: 25px;
}

.mock-image a {
	border-bottom:0px solid transparent;
}

hr.visible {
	border-bottom:1px solid #EEF7FF !important;
	visibility: visible !important;
	margin: 15px 0;
}

h1 a, h2 a, h3 a, h4 a {
	text-decoration: none !important;
	border-bottom: 0px solid transparent !important;
}

/***********/
/** FAQ's **/
/***********/

.view-id-faq .views-field-title,
.view-id-faq .views-field-title a {
	width:100% !important;
}

.view-id-faq .views-field-title a {
	border-bottom:0px solid transparent !important;
	color:#4C5E71;
	font-size: 1.2em;
	line-height:1.4em;
}

/**************
-----FORM------
**************/

form.notice p {
	text-align:left;
	font-weight:normal;	
	font-size:10pt;
	padding:0;
}

form.notice h3 {
	text-align:left;
	font-weight:bold;	
	font-size:18pt;
	padding:10px 0 0 0 ;
	margin: 0px 0px 15px;
}

form.notice h4 {
	text-align:left;
	font-weight:bold;	
	padding:0;
	margin: 0px 0px 15px;
}


form.notice input {
	width:auto;
	margin-right:10px;	
}

form.notice fieldset {
	background-color:rgb(223, 233, 244) !important;	
	padding:0 0 20px 10px;
}

form.notice label { 
	display: block;  /* block float the labels to left column, set a width */
	float: left; 
	width: 150px; 
	padding: 15px 10px 0 0 ; 
	margin: 5px 0 0; /* set top margin same as form input - textarea etc. elements */
	font-weight:normal;	
	font-size:10pt;
}

form.subForm button,
form.subForm input[type=reset] {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
  -webkit-text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
  -moz-text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
  -o-text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
  background-color: #164682;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#446791), to(#164682));
  background-image: -moz-linear-gradient(top, #446791, #164682);
  width: auto;
  padding: 9px 18px 8px;
  margin: 10px 10px 0px 0px;
  color: #fff;
  border: 0px;
  vertical-align: middle; }

form.subForm button:active,
form.subForm input[type=reset]:active,
form.subForm.button:active {
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.2); }
  
/* hand cursor on clickable input elements */
form.subForm label, form.subForm input[type=button], form.subForm input[type=reset], button {
  cursor: pointer; }  
  
form.subForm input, form.submissionForm input {
	/* width:auto; */
	margin-right:10px;	
}

form.subForm fieldset, form.submissionForm fieldset {
	background-color:rgb(223, 233, 244) !important;	
	padding:0 0 20px 10px;
	border-radius:5px 5px 5px 5px;
}

form.subForm label, form.submissionForm label { 
	display: block;  /* block float the labels to left column, set a width */
	float: left; 
	width: 240px; 
	padding: 8px 10px 0 0 ; 
	margin: 5px 0 0; /* set top margin same as form input - textarea etc. elements */
	font-weight:normal;	
	font-size:10pt;
}

form.subForm table {
	margin-left:250px; 
}

form.subForm table td {
  padding: 0px; 
  vertical-align:bottom;
}

form.subForm table tr,
form.subForm table th {
  border:none;
  padding: 0px; 
}

form.subForm table tbody tr:nth-child(2n+1) {
  background-color:rgb(223, 233, 244) !important;
}

input:invalid, textarea:invalid
 {
		box-shadow:0px 0px 4px rgb(201, 224, 242);
		border-radius:5px 5px 5px 5px;
}	

form.subForm table label {
  text-align:left; 
  line-height:15px;
  width:330px;
}
  
form.subForm input[type=submit], form.submissionForm input[type=submit] {
	margin-left:250px;	
}

form.submissionForm table {
	margin-left:30px;
}

form.submissionForm table td {
	width:auto;
  padding: 0px; 
  vertical-align:bottom;
}

form.submissionForm table tr,
form.submissionForm table th {
  border:none;
  padding: 0px; 
}

form.submissionForm table tbody tr:nth-child(2n+1) {
  background-color:rgb(223, 233, 244) !important;
}

form.submissionForm table label {
  text-align:left; 
  line-height:10px;
  width:180px;
}


form.subForm label, form.subForm p {
    clear: both;
    font-family: "Droid Sans",sans-serif;
    line-height: 1.3;
    margin-top: 0;
    padding: 5px 0;
    text-align: right;
}

form.subForm input {
    background-color: #BADEF5;
    border: 1px solid;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 4px #789FBF;
    color: #163D6E;
    font-size: 12px;
    margin: 0;
    opacity: 0.5;
    padding: 8px 6px;
    text-shadow: 0 0 0;
    width: 270px;
}

form.subForm td input {
	width:25px;
}

form.subForm input[type="checkbox"] {
    vertical-align: top !important;
}

.infrastructure-table table tbody tr:nth-child(2n+1) {
    background: none repeat scroll 0 0 #EEF7FF;
}
.infrastructure-table table tr, table th {
    border: 1px solid #B9CFE7;
    padding: 10px;
}

.infograph img {
	box-shadow: 2px 2px 2px 1px #ddd;
	border: 1px solid #ccc;
    width: 700px;
}

.infograph a {
	border-bottom:0px solid transparent !important;
}

#home-banners .home-banner p.title {
	line-height:1.35em;
}

#home-banners .home-banner p {
	margin:15px 20px 20px;
}

address {
	margin-left:20px;
}

table.inner-table tr:nth-child(2n+1) {
	background: none repeat scroll 0 0 transparent;
}