@charset "UTF-8";
/* CSS Document */

.content-slider-bg {
	display:none;	
}

.portal-cr-links {
	height: 45px;
	line-height: 45px;
	width: 100%;
	background-color: #2E2E2E;
	margin-bottom: 5px !important;
	margin-top: 0px !important;
	margin-left:0px !important;
	margin-right:0px !important;
}

.portal-cr-links a {
	margin-left:20px;
	color:#FFFFFF;
}

.demo-container,
.mobile-menu {
	display:none;
}


/* Tabbed Table Styles */

#t-wrapper {
	width: 930px;
	color: #3F3F3F;
	font-size:13px;
	line-height:16px;
}

#t-wrapper a {
	text-decoration: underline;
	color: #3F3F3F;
}

.t-heading-c1 {
	box-sizing: content-box;
	color: #FFFFFF;
	width: 90px;
	padding-left: 10px;
	height: 35px;
	background-color: #A9A9A9;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	line-height: 35px;
}
.t-heading-c2-c3 {
	box-sizing: content-box;
	color: #FFFFFF;
	width: 190px;
	padding-left: 10px;
	height: 35px;
	background-color: #A9A9A9;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	line-height: 35px;
}
.t-heading-c4 {
	box-sizing: content-box;
	color: #FFFFFF;
	width: 130px;
	padding-left: 10px;
	height: 35px;
	background-color: #A9A9A9;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	line-height: 35px;
}
.t-heading-c5 {
	box-sizing: content-box;
	color: #FFFFFF;
	width: 254px;
	padding-left: 10px;
	height: 35px;
	background-color: #A9A9A9;
	float: left;
	margin-right: 0px;
	margin-bottom: 5px;
	line-height: 35px;
}

.view-our-people .views-row-odd, .view-our-people .views-row-even {
	width: 100%;
	clear: both;
}

.view-our-people .t-r1-r2-c1 {
	box-sizing: content-box;
	width: 100px;
	height: 100px;
	background-color: #F4F4F4;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}

.view-our-people .views-row-odd .t-r1-c2,
.view-our-people .views-row-odd .t-r1-c3,
.view-our-people .views-row-odd .t-r1-c4,
.view-our-people .views-row-odd .t-r1-c5 {
	background-color: #F4F4F4;
	box-sizing: content-box;
}

.view-our-people .views-row-even .t-r1-c2,
.view-our-people .views-row-even .t-r1-c3,
.view-our-people .views-row-even .t-r1-c4,
.view-our-people .views-row-even .t-r1-c5 {
	background-color: #e5e5e5;
	box-sizing: content-box;
}

.t-r1-c2 { 
	width: 180px;
	height: 80px;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	padding: 10px
}
	
.t-r1-c3 { 
	width: 180px;
	height: 80px;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	padding: 10px
}

.t-r1-c4 {
	width: 120px;
	height: 80px;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	padding: 10px
}

.t-r1-c5 {
	width: 244px;
	height: 80px;
	float: left;
	margin-right: 0px;
	margin-bottom: 5px;
	padding: 10px
}

.content-left-wrap .t-heading-c2-c3 {
	width: 120px;
}
.content-left-wrap .t-heading-c4 {
	width: 90px;
}
.content-left-wrap .t-heading-c5 {
	width: 184px;
}

.content-left-wrap .t-r1-c2,
.content-left-wrap .t-r1-c3 {
	width: 110px;
}

.content-left-wrap .t-r1-c4 {
	width: 80px;
}

.content-left-wrap .t-r1-c5 {
	width: 174px;
}
