.webform-client-form {
  padding: 0 3%;
}

.content .webform-client-form p {
  text-align: left;
  font-weight: 400;
}

.webform-client-form fieldset {  
  background: white; 
  border: none;
}

.webform-client-form fieldset legend {  
  font-size: 18px;
  text-indent: 0;
}

.webform-client-form label {
  text-align: left;
}

.webform-client-form input,
.webform-client-form textarea {
  font-size: 20px;
  font-size: 1.25rem;
  background-color: #f6f6f6;
  border: 1px solid lightgray;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
}

.webform-client-form input:focus,
.webform-client-form textarea:focus {
  background-color: #fff;
  border-color: #7399b7;
  color: #000;
  outline: 0;
}

.webform-client-form .form-type-radio input,
.webform-client-form .form-type-checkbox input {
  box-shadow: none;
  width: 13px;
  height: 13px;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: -8px;
  left: 3px;
  *overflow: hidden;
}

.webform-client-form .form-type-radio label,
.webform-client-form .form-type-checkbox label {
  display: inline-block;
  padding-left: 23px;
  text-indent: -15px;
  }

.webform-client-form .error { 
	background-image: none;
}

.webform-client-form .webform-component .field-suffix,
.webform-client-form .webform-component .field-prefix {
  font-size: 16px;
}

.webform-client-form .webform-component .field-prefix {
  margin-right: 0.3em;
}

.webform-client-form .webform-component .field-suffix {
  margin-left: 0.3em;
}