/*
Various fixes and alterations to provided CSS to make compatible with Drupal implentation.
*/

#footernav {
	top:0em !important;
}

body .main-block, body.headingblock .main-block {
	padding:0px;
}

.wrapper {
    padding: 0px;
    width:1024px
}

div.tabs {
	margin-right: 20px;
	position: absolute;
	right: 0;
}

body > div.tabs {
    margin:10px 10px 0px 0px;
}

a {
    color: #4C5E71;
}

div.view {
	padding-top:0px !important;
}

.thecrumb {
	margin-top:14px;
	margin-bottom:10px;
}

.content-white-wrap .thecrumb a {
	color:#3CA9C2;
	text-decoration:none;
}

.content-white-wrap .thecrumb span {
	color:#79797A;
}

.content-black-wrap .thecrumb {
	color:#B2B2B2;
}

.content-black-wrap .thecrumb a {
	color:#3CA9C2;
	text-decoration:none;
}

.content-black-wrap .thecrumb span {
	color:#B2B2B2;
}

.content-black-wrap .thecrumb a:hover {
	text-decoration:none;
}

div.messages {
    margin: 6px 32px;
}

#cssmenu > ul > li > a,
#cssmenu > ul > li > span {
    text-transform: uppercase;
}

div.module-wrap h2 {
    text-transform: uppercase;
}

.module-wrap:hover h2 a {
	color:#3DAAC3;
	cursor:pointer;
}

.module-wrap h2 a {
	color:#FFFFFF;
}

div.sharethis-wrapper {
	height:35px;
}

.st_facebook_custom,
.st_twitter_custom,
.st_print_custom,
.st_email_custom,
.st_sharethis_custom
{
	padding:0px 28px 28px 0;
}

.st_facebook_custom {
	background: url("/sites/all/themes/msd2014/images/fb-sm.gif") no-repeat scroll left top transparent;
}

.st_twitter_custom {
	background: url("/sites/all/themes/msd2014/images/tw-sm.gif") no-repeat scroll left top transparent;
}

.st_print_custom {
	background: url("/sites/all/themes/msd2014/images/prnt-sm.gif") no-repeat scroll left top transparent;
}

.st_email_custom {
	background: url("/sites/all/themes/msd2014/images/email-sm.gif") no-repeat scroll left top transparent;
}

.st_sharethis_custom {
	background: url("/sites/all/themes/msd2014/images/plus-sm.gif") no-repeat scroll left top transparent;
}

.share span {
	opacity:0.6;
	filter:alpha(opacity=60); /* For IE8 and earlier */
}
.share span:hover {
	opacity: 1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}

.programs-content-right blockquote {
    padding: 0px !important;
}

blockquote a {
    clear: none;
    float: none;
    margin: 0px;
    position: static;
}

.programs-content-right p {
    margin-bottom: 0px;
}

div.text-bottom-item {
    overflow: hidden;
}

.share {
	min-height:0;
}

.programs-module {
	min-height:0;
	position:relative;
	padding-bottom:45px;
}

.programs-module h2 > a {
	color: #3DAAC3;
}

div.read-more-wrapper {
    bottom: 25px;
    position: absolute;
    width:100%;
}

#cssmenu a,
#cssmenu span {
	font-size: 1.25em;
}

.programs-content-left, .programs-content-right, .news-promoted-header {
	min-height:0;
}

.programs-content-left {
	padding:25px 25px;
}

.programs-content-right li {
	list-style-image: url(../images/blt-arrow.png);
	padding-left: 0px;
	list-style-position: inside;
	list-style-type: none;
}

.programs-content-right li p {
    display: inline;
}

h2, h3, h4, .pullquote, .content-black-wrap h2 {
    color: #3DAAC3;
    font-family: "ff-din-web",sans-serif;
}

#cssmenu li:first-child a {
     padding-left: 24px;
}

#cssmenu a,
#cssmenu span {
	padding-left: 48px;
}

#cssmenu span {
	display: inline-block;
	font-family: "DIN-Regular";
	font-weight:300;
	font-size: 1.28em;
	line-height: 36px;
	text-decoration: none;
    color:#FFFFFF;
}

table.tab-content-wrapper td.tabbed-content-left-wrap {
	width:100%;
}

table.tab-content-wrapper td.tabbed-content-left-wrap > div {
	position:relative;
}

.tabbed-content-right-wrap {
	margin-right:0px;
	margin-left:20px;
	width:214px;
}

.right-column .side-module {
	margin-bottom:10px;
}

table.tab-content-wrapper > tbody > tr > td {
	padding:0px;
}

table.tab-content-wrapper {
	border-collapse: separate;
	border:none;
	width:100%;
}

table.tab-content-wrapper {
	border-collapse: separate;
	border:none;
}

table.tab-content-wrapper tbody tr,
table.tab-content-wrapper tbody tr td {
	background:none;
}

.upcoming-events-wrap li .date {
	font-size:1.1em;
	margin-top:0px;
}

div.footer-links-wrap div.footer_center_column div.content li {
	display:block;
	list-style:none;
	color:#999;
	margin-right: 40px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666;
	margin-bottom: 12px;
	padding-bottom: 12px;
}

div.footer-links-wrap div.footer_center_column div.content li a {
	color:#999;
	display:block;
}

div.footer-links-wrap div.footer_center_column div.content li a:hover {
	color:#FFF;
}

div.contextual-links-wrapper li {
	border:none !important;
}

div.contextual-links-wrapper li a {
    background-image:none !important;
}

#admin-menu a, #admin-menu li > span {
    font-family: arial,sans-serif;
}

div.view-id-news .item-list ul,
.item-list ul a {
    color: #FFFFFF;
}

div.view-id-news .item-list ul {
    padding: 15px 0 0;
}

div.right-column-wrap span.view-all {
	font-size:0.9em;
	padding-top:14px;
	padding-bottom:4px;
	padding-left:6px;
	display:inline;
	font-weight:normal;
}

div.right-column-wrap span.view-all a {
	color: #3DAAC3;
}

.programs-module p.post-date,
.programs-module p.event-date {
    margin: 14px 20px 0px 20px;
}

body.page-user .content-right-wrap {
	margin-top:113px;
}

/*
Styling for our people listings
*/
div.view-our-people table {
     width: 100%;
}

div.view-our-people th.views-field-field-profile-portrait-image,
div.view-our-people td.views-field-field-profile-portrait-image {
     padding: 0px;
     width: 100px;
}

div.view-our-people th {
     padding: 0px;
}

div.view-our-people th,
div.view-our-people td {
     padding: 3px 0px 3px 4px;
}

table tbody tr:nth-child(2n+1) {
    background: inherit !important;
}

table.white-only tbody tr {
    background: none repeat scroll 0 0 #fff;
}

table.white-only tr,
table.white-only th {
    border: none;
}

a.document {
	background: none;
}

a.icon {
    background: none;
    border: none;
    border-radius: 0px;
    color: inherit;
    display: inline;
    font-family: inherit;
    font-size: inherit;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
}

a.icon:hover, a.icon:focus {
    background: none;
}

.content-right-wrap a:not(.button) {
	padding: 0px !important;
	background:none !important;
}

.content-left-wrap ul li, .programs-content-left ul li, .ui-widget-content ul li, .side-module ul li {
	list-style-image: url(../images/blt-arrow.png);
	padding-left: 0px;
	list-style-position: inside;
	list-style-type: none;
}

.content-left-wrap ol li, .programs-content-left ol li, .ui-widget-content ol li, .side-module ol li {
  	list-style-type: decimal;
	list-style-position: outside;
	list-style-image:none;
}

div.programs-content-left.full-width {
	width:912px;
}

.side-module h2 {
	background-color:#3DAAC3;
}

.content-black-wrap .side-module h2 {
	background-color:#3DAAC3;
	font-family: "ff-din-web",sans-serif;
	font-style: normal;
	color:#FFF;
	padding-left:20px;
	margin-bottom:0px;
	font-size:1.1em;
	line-height:1.1em;
	padding-top:16px;
	padding-bottom:16px;
}

div.footer_right_column div.content h2,
div.footer_right_column div.content h2 a,
div.footer_subscribe_enews div.content h2,
div.footer_subscribe_enews div.content h2 a {
	color: #3DAAC3;
}

div.footer_subscribe_enews div.content h2 {
    border-bottom: none;
    margin-bottom: 8px;
}

div.footer_right_column div.content h2,
div.footer_subscribe_enews div.content h2 {
	margin-right:0px;
}


.single-clmn.right-column .box {
	padding: 10px 10px 10px 12px;
	min-height:0;
}

.single-clmn.right-column .box {
    margin-top: 26px;
}

.single-clmn.right-column .box.footer-enews-subscribe {
    margin-top: 12px;
}

div.footer_left_column h2 a,
div.footer_center_column h2 a {
	color: #B2B2B2;
}

.news-promoted-header {
	background-color:#E5E5E5;
	width:912px;
	float:left;
	margin-left:1px;
	padding:40px 25px;
}

.news-promoted-header.half {
  width: 430.5px;
}

div.content-right-wrap.news {
    margin-bottom: 10px;
    margin-top: 60px;
}

body.node-type-page div.content-right-wrap {
	margin-top:110px;
}

/*
Styling for blog posts
*/
.content-left-wrap div.view-blog h2 a {
     color: #3DAAC3;
     text-decoration: underline;
}

.content-left-wrap div.view-blog h2 {
	margin-top: 10px;
	display:inline-block;
}

div.view-blog .views-row {
	padding-bottom: 24px;
}

#imageData #bottomNav {
    display: none !important;
}

#rmsd_lightbox {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    overflow: scroll;
    padding-left: 10px;
    padding-right: 7px;
    width: 560px;
    min-height:465px !important;
}

div.date-wrapper {
    background: none repeat scroll 0 0 #3DAAC3;
    color: #FFFFFF;
    display: inline-block;
    font-size: 18px;
    padding: 7px 8px;
    margin-right: 6px;
}

body.node-type-blog-post h2.title {
	display: inline-block;
	margin-top:0px;
}

div.views-field-field-submitted-by,
div.field-name-field-submitted-by {
	margin: 0px 0px 8px 0px;
}

body.page-blog div.view-id-blog div.views-field-body img {
	float: left;
	margin: 0px 15px 0px 0px;
}

.upcoming-events-wrap li .spright {
	padding-right: 30px;
	width: 137px;
}

.programs-content-right div#block-views-events-calendar-calendar,
.programs-content-right div#block-views-events-calendar-calendar div {
     margin: 0px;
}

div.programs-content-right div#block-views-events-calendar-calendar {
	padding-top:23px;
}

div#block-views-events-calendar-calendar {
    height:205px;
}

.programs-content-right div#block-views-events-calendar-calendar .date-nav {
	padding:0px;
	margin-top:10px;
}

.view .date-nav-wrapper .item-list ul li {
    margin:0px;
}

.view .date-nav-wrapper .item-list ul li.date-prev {
    margin-left:5px;
}

.view .date-nav-wrapper .item-list ul li.date-next {
    margin-right:5px;
}

.mini-day-on {
    color: #3DAAC3;
    font-weight: bold;
    text-decoration: underline;
}

.calendar-calendar table.mini td {
    text-align:center;
}

.bt-content {
	list-style-image: url(../images/blt-arrow.png);
	list-style-position: inside;
	list-style-type: none;
	padding-left: 0px;
}

.bt-content a {
	color: #3DAAC3;
}

div.calendar_tooltips-title-value {
	display:inline;
}

div.footer-links-wrap div.footer_center_column div.content li:last-child {
    border-bottom: none;
}

body.node-type-event div.field-name-body {
    margin-top:6px;
}

.banner img {
	height:auto !important;
}

/***** Drupal Overrides *****/

ul li.expanded,
ul li.collapsed,
ul li.leaf {
    list-style-image: none;
    list-style-type: none;
}

.tabs ul {
    margin: 10px 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
}

.tabs li {
    display: inline;
    padding: 5px 10px;
    background: #888;
    background: rgba(0, 51, 102, 0.4);
    border: 1px solid #A4AFC4
}

.tabs a,
.tabs a:visited,
.tabs a:link {
    color: #fff;
    border-bottom: none;
}

.tabs a:hover {
    text-decoration: underline;
}


/* 4th Tab */
.content .ui-tabs .ui-4-tabs li {
  display: table-cell;
  float: none;
}

.content .ui-tabs .ui-4-tabs .ui-tabs-anchor span {
  background-position: 205px center!important;
  border-bottom: 0;
}

.content .ui-tabs .ui-4-tabs .ui-tabs-anchor img {
  width: 239px;
  height: 183px;
}

a#ui-id-1.ui-tabs-anchor span{
  border-bottom-width: 0;
}

.content .ui-tabs-active a span {
  border-bottom-width: 0!important;
}

a#ui-id-4.ui-tabs-anchor {
  padding:0px;
  margin:0px;
  border: none;
  background-color:#000;
  line-height:0px;
}

a#ui-id-4.ui-tabs-anchor span {
  display: block;
  height: 54px;
  line-height: 54px;
  padding-left: 25px;
  background-color: #999999;
  background-image: url(../images/tab-down-arrow-white.png);
  background-repeat: no-repeat;
  background-position: 270px center;
  color: #FFF;
}

.content .ui-widget-content {
  background: transparent!important;
}

.content .ui-widget-header.ui-tabs-nav {
  background: transparent!important;
}


.content .ui-tabs-panel.ui-widget-content {
  background: white!important;
}

.content #tabs [role="tabpanel"].with-related-items {
  background: #000!important;
  padding: 0!important;
}

.content #tabs [role="tabpanel"].with-related-items .tabs {
  margin-top: -40px;
}

.content #tabs [role="tabpanel"].with-related-items .programs-module a {
  text-decoration: none;
}

/* 12 May Mobile Tabs */
@media only all and (max-width: 640px) {
  .tab-content-wrapper {
    display: block;
  }

  .tab-content-wrapper > tbody,
  .tab-content-wrapper > tbody > tr,
  .tab-content-wrapper > tbody > tr > td {
    display: block;
    width: 100%;
  }

  .tab-content-wrapper .tabbed-content-right-wrap,
  .tab-content-wrapper table,
  .tab-content-wrapper tbody,
  .tabbed-content-left-wrap table
  {
    width: 100%;
  }
  .ui-4-tabs a#ui-id-1.ui-tabs-anchor, 
  .ui-4-tabs a#ui-id-2.ui-tabs-anchor, 
  .ui-4-tabs a#ui-id-3.ui-tabs-anchor,
  .ui-4-tabs a#ui-id-4.ui-tabs-anchor,
  .ui-4-tabs .ui-tabs-anchor img, 
  .ui-4-tabs .ui-tabs-active img {
    width: 118px!important;
  }
}

.content-left-wrap blockquote ul li {
  list-style-image: none;
  padding-left: 1.1em;
}

/* MSD Brand-style tables */

.msd-table tr {
  border: none;
}

.msd-table thead th, .msd-table thead td {
  background-color: #000;
  color: #fff;
  font-family: "ff-din-web",sans-serif;
  font-size: 13px;
}

.msd-table th, .msd-table td {
  border: 1px solid #fff;
}

.msd-table tbody td {
  padding: 6px 8px;
  font-size: 11px;
}

.msd-table tbody tr:nth-child(even) td {
  background-color: #DCDDDF;
}

.msd-table tbody tr:nth-child(odd) td {
  background-color: #F1F1F1;
}

/* Scanned - 3D Integration */
.programs-module h2 {
  text-transform: uppercase;
}

.programs-module .dollhouse {
  display: block;
  height: 225px;
  margin-bottom: 7px;
  overflow: hidden;
  width: 239px;
}

.programs-module .dollhouse iframe {
  height: 240px;
  margin-bottom: 0;
  margin-left: -6%;
  margin-right: auto;
  margin-top: 0;
  width: 112%;
}

.featherlight.modal iframe {
  height: 90%;
  max-height: 720px;
  max-width: 1200px;
  padding-top: 5%;
  width: 90%;
}

body .uomcontent .button:hover,
body .uomcontent .button-small:hover {
  text-decoration: none;
}

li p {
  display: inline-block; 
}

.content ol li {
  list-style-position: outside;
  margin-left: 18px;
  padding-left: 4px;
}
