@charset 'UTF-8';
#cssmenu ul,
#cssmenu li,
#cssmenu span,
#cssmenu a {
  border: 0;
  margin: 0;
  padding: 0;
  position: relative;

}
#cssmenu {
	
	font-weight: 300;
	height: 36px;
	display:block;
	width:990px;
	margin-left:-24px;
	
	
}

/* saf3+, chrome1+ */
@media screen and (-webkit-min-device-pixel-ratio:0) {
 #cssmenu {

}
}


#cssmenu:after,
#cssmenu ul:after {
  content: '';
  display: none;
  clear: both;
}
#cssmenu a {


	display: inline-block;
	font-family: "DIN-Regular";
	font-weight:300;
	font-size: 1.28em;
	line-height: 36px;
	padding: 0px;
	padding-left:24px;
	text-decoration: none;
    color:#FFFFFF;
}
#cssmenu ul {
  list-style: none;

}
#cssmenu > ul {
  
}
#cssmenu > ul > li {
  
}
#cssmenu > ul > li:first-child a {
  
}
#cssmenu > ul > li.active a,
#cssmenu > ul > li:hover > a {
  
  color: #0079A5 !important;
 
  
}
#cssmenu .has-sub {
  z-index: 1;
}
#cssmenu .has-sub:hover > ul {
  display: block;
}
#cssmenu .has-sub ul {

  display: none;
  position: absolute;
  top: 100%;
  left: 12px;
  opacity:.94;
}
#cssmenu .has-sub ul li a {
	font-family: "HelveticaNeueLT-Light", sans-serif;
	font-size: 1em;
	font-weight: 300;
	color: #666666;
	display: block;
	line-height: 160%;
	padding: 7px 15px;
	border-bottom-width: 0px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	background-color: #FFFFFF;	
}
#cssmenu .has-sub ul li:hover a {
	background: #FFF;
	color:#000;
	
}


#cssmenu ul li.has-sub ul li.has-sub a {
	
	font-family:"HelveticaNeueLT-Light", sans-serif;
	font-weight:300;
	color:#000;
	background-image: url(../images/menu-arrow-down.png);
	background-repeat: no-repeat;
	background-position: right 10px center;
	
	font-size: 1em;	
	}


#cssmenu ul li.has-sub ul li.has-sub ul li a {
	background-image: none;
	color:#666;
	border-bottom:1px;
	}
#cssmenu ul li ul li {
	border-bottom:1px #DEDEDE solid;
	}
	
#cssmenu ul li ul li ul li {
	
	}
#cssmenu ul li ul li ul li a {
	border-bottom:1px #DEDEDE solid;
	padding-top: 2px !important;
	padding-bottom: 2px !important;
	}	
	
		
#cssmenu ul li ul li ul li a:hover {
	background-color:#DEDEDE !important;
	
	
	
	}	

#cssmenu ul li.has-sub ul li a:hover,
#cssmenu ul li.has-sub ul li.has-sub a:hover {
	color:#000;
	background-color:#EDEDED;
	
	} 



#cssmenu .has-sub .has-sub:hover > ul {
  display: block;
}
#cssmenu .has-sub .has-sub ul {
  display: none;
  position: relative;
  left: 100%;
  top: 0;
}
#cssmenu .has-sub .has-sub ul li a {
	background-color: #DEDEDE;
}
#cssmenu .has-sub .has-sub ul li a:hover {
	background-color: #DEDEDE;
}


#cssmenu .has-sub .has-sub ul li {
  
  
}


#cssmenu .has-sub ul {
}

#cssmenu .has-sub .has-sub ul {
  display: block !important;
  left:inherit !important;
  top:inherit !important;
  clear:both;
}


#cssmenu ul li ul li {
	float:none !important;
	min-width:220px;
  
}

