* {
  -moz-box-sizing: inherit;
  -o-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  overflow: initial;
}

@media screen and (min-width: 769px) {
  body {
    font-size: 81%;
  }
}

.uomcontent {
    background-color: transparent;
}

.uomcontent .button {
  background-image: none;
}

.uomcontent .button:after {
  color: currentColor;
}

.uomcontent .with-arrow:after {
  color: currentColor;
}

.content .uomcontent .button:hover {
  text-decoration: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

p {
  margin-bottom: 1em;
}

html, body, ul {
  font-family: "HelveticaNeueLT-Light", sans-serif;
}