div.banner-text {
    width: 300px !important;
    height: 300px;
    right: 0px !important;
}

/*  Home Banners  */
.banners {
    background: rgb(220, 233, 244);
    background: rgba(145, 181, 218, 0.3);
    max-width: 100% !important;
    width: 100% !important;
    padding: 0 0 20px 0;
    overflow: hidden;
}

#home-banners {
    width: 940px;
    margin: 0;
}
#home-banners {
    position: relative;
    height: 292px;
    margin-bottom: 9px;
    z-index: 2;
}
#home-banners .home-banner {
    position: absolute;
    top: 2px;
    left: 0px;
    height: 320px;
    overflow: hidden;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}

#home-banners .home-banner img {
    display: block;
}

#home-banners .home-banner .summary {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: rgb(0, 51, 102);
    background: rgba(0, 51, 102, 0.9);
    width: 100%;
}

#home-banners .home-banner p {
    margin: 20px;
    width: 75%;
}

#home-banners .home-banner p a {
    color: #fff;
}
#home-banners .home-banner p a:hover,
#home-banners .home-banner p a:active {
    color: #A9C5E0;
}
#home-banners .home-banner p.title {
    margin-bottom: -10px;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
}

#home-banners .home-banner p.button-container {
    position: absolute;
    bottom: 14px;
    right: -14px;
    width: auto;
}

#home-banners .home-banner a.button {
    background: #134272;
    padding: 8px 16px;
    font-family: 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: bold;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
}

#home-banners .home-banner a.button::after {
    color: #708DA9;
    font-size: 1.9em;
    position: relative;
    top: 2px;
    margin-left: 16px;
}

#home-banners .home-banner a.button:hover,
#home-banners .home-banner a.button:active {
    background: #245C94;
}

#home-banners .banner-navigation {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 0px 5px 5px;
    background: rgb(0, 51, 102);
    background: rgba(0, 51, 102, 0.8);
    border-radius: 5px;
}

#home-banners .next-banner,
#home-banners .previous-banner,
#home-banners .play-pause-banner { 
    display: block;
    float: left;
    width: 25px;
    margin: 0px 5px 0px 0px;
    text-indent: -300px;
    overflow: hidden;
    -webkit-transition: opacity 300ms linear;
}

#home-banners .next-banner:hover,
#home-banners .next-banner:active,
#home-banners .previous-banner:hover,
#home-banners .previous-banner:active,
#home-banners .play-pause-banner:hover,
#home-banners .play-pause-banner:active {
    opacity: 0.6;
}

#home-banners .previous-banner {
    background: url('data:image/gif;base64,R0lGODlhCQAJAKIFAOXq71Z4mtff5ytVgI+lvAAzZgAAAAAAACH5BAEAAAUALAAAAAAJAAkAAAMZWFohsyoAIKCcYV2Q1wQExHydRopXhTpKAgA7') 50% 50% no-repeat;
}

#home-banners .next-banner {
    background: url('data:image/gif;base64,R0lGODlhCQAJAPIFAOXq71Z4mtff5ytVgI+lvAAzZgAAAAAAACH5BAUAAAUALAAAAAAJAAkAQAMXWDUS+qtBSIB9wQKHNVeC9XUilJUgWiQAOw==') 50% 50% no-repeat;
    margin-right: 0px;
}

#home-banners .play-pause-banner {
    background: url('data:image/gif;base64,R0lGODlhCQAJAJECAOXq73OPqwAzZgAAACH5BAEAAAIALAAAAAAJAAkAAAIVFBASJ4bKXFqgnRkvrHLbR30Yp4UFADs=') 50% 50% no-repeat;
}

#home-banners.paused .play-pause-banner {
    background: url('data:image/gif;base64,R0lGODlhCQAJAPMIAI+lvLrI1itVgOXq71Z4mg4+btff58jT3gAzZgAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAUAAAgALAAAAAAJAAkAQAQaEKEgpJX02sH52RxQXJ1IGoSGdEMmse6KXhEAOw==') 50% 50% no-repeat;
}

/*IE Base64 fixes for banner space*/
#home-banners .previous-banner {
    *background: url('../images/icons/banner-back.gif') 50% 50% no-repeat;
}

#home-banners .next-banner {
    *background: url('../images/icons/banner-forward.gif') 50% 50% no-repeat;
    margin-right: 0px;
}

#home-banners .play-pause-banner {
    *background: url('../images/icons/banner-pause.gif') 50% 50% no-repeat;
}

#home-banners.paused .play-pause-banner {
    *background: url('../images/icons/banner-play.gif') 50% 50% no-repeat;
}

#home-banners .banner-count {
    color: rgb(165, 195, 222);
    color: rgba(165, 195, 222, 0.7);
    font-size: 11px;
    letter-spacing: 3px;
    padding: 1px 8px;
    border-left: 1px solid #002C4F;
    font-family: 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
}

#home-banners .banner-count em {
    font-style: normal;
}

/*  ALT BANNERS  */
#home-banners-alt {
    width: 960px;
    margin: 0px auto;
    height: auto;
    position: relative;
    left: 10px;
}

#home-banners-alt .home-banner {
    float: left;
    position: relative;
    top: auto;
    overflow: hidden;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}

#home-banners-alt .home-banner .summary {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: rgb(0, 51, 102);
    background: rgba(0, 51, 102, 0.9);
    width: 100%;
    pointer-events: none;
}

#home-banners-alt .home-banner p {
    color: #fff;
    margin: 10px;
}

#home-banners-alt .home-banner p.title {
    margin-bottom: -6px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
}

#home-banners-alt .first {
    width: 460px;
    height: 380px;
}

#home-banners-alt .second {
    margin: 0px 0px 20px 20px;
    width: 460px;
    height: 180px;
}

#home-banners-alt .second img {
    margin-top: -160px;
}

#home-banners-alt .third {
    width: 220px;
    height: 180px;
    margin: 0px 0px 0px 20px;
}

#home-banners-alt .third img {
    width: 100%;
}

#home-banners-alt .third p {
    display: none;
}

#home-banners-alt .third p.title {
    display: block;
    font-family: helvetica, arial, sans-serif;
    font-size: 12px;
    margin-bottom: 10px;
}

/*  Webkit fixes  */
body:nth-of-type(1) .js-enabled #home-banners .banner-navigation li a {
    line-height: 30px;
}

/*body #home-banners {
    *top: 16px;
}*/

body #home-banners .banner-count {
    *color: rgb(165, 195, 222);
}